## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [10]:
import pandas as pd
import numpy as np

In [3]:
import random
def random_list(start,stop,length):
    if length>=0:
        length=int(length)
    start, stop = (int(start), int(stop)) if start <= stop else (int(stop), int(start))
    random_list = []
    for i in range(length):
        random_list.append(random.randint(start, stop))
    return random_list

In [7]:
random_list(500,1000000,2)

[788635, 369012]

In [11]:
data = {'國家': ["c1","c2"],
        '人口': random_list(500,1000000,2)}
data = pd.DataFrame()

In [12]:
data

Empty DataFrame
Columns: []
Index: []